.layoutUserPage {
  max-inline-size: 1440px;
  block-size: calc(1180px - 104px - 232px); //Общая высота минус хеддер и футер
  @include flex(row, center, center, 24px);
}

.outletWrapper {
  inline-size: 1020px;
  block-size: inherit;
  border-radius: calc($input-border-radius * 2);
  overflow-y: auto;

  &::-webkit-scrollbar {
    inline-size: 10px;
    border-radius: $input-border-radius;
  }

  &::-webkit-scrollbar-track {
    background-color: $color-disabled;
    border-radius: $input-border-radius;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-toggle;
    block-size: 10%;
    border-radius: $input-border-radius;
    cursor: pointer;
  }
}
