@use "../../../../styles/variables" as vars;
@use "../../../../styles/mixins" as *;

@mixin text-style($weight, $size, $line) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line;
}

.previewWrapper {
  inline-size: 100%;
  min-inline-size: 1020px;
  max-inline-size: 1024px;
  border-radius: 12px;
  background-color: white;
}

.contentContainer {
  @include flex(
    $direction: row,
    $justify: space-between,
    $align: flex-start,
    $gap: 16px
  );
  border-radius: 12px;
  inline-size: 100%;
  min-inline-size: 1020px;
  max-inline-size: 1024px;
  padding-block: 40px;
  padding-inline: 60px;
  background-color: white;

  .leftColumn {
    @include flex(
      $direction: column,
      $justify: space-between,
      $align: flex-start,
      $gap: 24px
    );
    flex: 1;
    max-width: 420px;
    height: 100%;
    min-height: 324px;
  }

  .rightColumn {
    flex: 1;
    max-width: 440px;
  }

  .previewDescription {
    @include flex(
      $direction: column,
      $justify: flex-start,
      $align: flex-start,
      $gap: 16px
    );
    inline-size: 100%;
  }

  .contentTittle {
    @include text-style($weight: 500, $size: 24px, $line: 28px);
    font-family: Jost, sans-serif;
    align-self: flex-start;
    font-style: normal;
    vertical-align: middle;
    margin: 0;
    color: #253017;
  }

  .contentContainerSubtitle {
    @include text-style($weight: 400, $size: 12px, $line: 16px);
    font-family: Roboto, sans-serif;
    align-self: self-start;
    font-style: normal;
    vertical-align: middle;
    color: #253017;
    margin: 0;
  }

  .category {
    @include text-style($weight: 400, $size: 12px, $line: 16px);
    font-family: Roboto, sans-serif;
    font-style: normal;
    vertical-align: middle;
    color: #69735d;
  }

  .mainCategory {
    color: #69735d;
  }

  .subCategory {
    color: #69735d;
  }

  .contentDescription {
    @include text-style($weight: 400, $size: 16px, $line: 24px);
    font-family: Roboto, sans-serif;
    font-style: normal;
    width: 100%;
    max-height: none;
    overflow: visible;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: #253017;
    line-height: 1.5;
  }

  .buttonsContainer {
    @include flex(
      $direction: row,
      $justify: flex-start,
      $align: center,
      $gap: 12px
    );
    width: 100%;
    margin-top: auto;
  }

  .buttonWrapper {
    flex: 1;
    max-width: 200px;

    button {
      width: 100%;
      font-family: Roboto, sans-serif;
      font-size: 16px;
    }
  }

  .editIcon {
    width: 24px;
    height: 24px;
    margin-left: 8px;
  }
}

.cardsContainer {
  inline-size: 440px;
  block-size: 324px;
}

.imageContainer {
  width: 440px;
  height: 324px;
}

.imagesGrid {
  display: grid;
  grid-template-columns: 324px 92px;
  gap: 24px;
  width: 440px;
  height: 324px;
  position: relative;
}

.mainImage {
  width: 324px;
  height: 324px;
  border-radius: 5%;
  object-fit: cover;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
}

.thumbnail {
  width: 92px;
  height: 92px;
  border-radius: 10%;
  object-fit: cover;
  border: 1px solid #e4e8df;
}

.thumbnailWrapper {
  position: relative;
  width: 92px;
  height: 92px;
}

.thumbnailWithOverlay {
  width: 92px;
  height: 92px;
  border-radius: 10%;
  object-fit: cover;
  filter: blur(2px);
  border: 1px solid #e4e8df;
}

.moreImages {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0 0 0 / 70%);
  color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  z-index: 2;
}

.noThumbnail {
  width: 92px;
  height: 92px;
  border-radius: 10%;
  background-color: #e4e8df;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #69735d;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  border: 1px dashed #69735d;
}

.noImages {
  width: 440px;
  height: 324px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4e8df;
  border-radius: 12px;
  color: #69735d;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  border: 1px dashed #69735d;
  font-weight: 400;
}
