@use "/src/styles/variables" as *;

.wrapper {
  display: flex;
  gap: 24px;
  padding: 32px 0 60px;
}

.content {
  flex: 1;

  .favoritesContainer {
    box-sizing: border-box;
    min-block-size: 752px;
    inline-size: 1020px;
  }
}
