@use "@styles/variables" as vars;

.wrapper {
  display: flex;
  gap: 24px;
  padding: 32px 0 60px;
}

.sidebarBackground {
  background: vars.$color-card;
  border-radius: 24px;
  padding: 40px;
  width: 324px;
  height: 752px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menuItem,
.menuItemActive {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: vars.$color-text;
  display: flex;
  align-items: center;
  gap: 13px;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.menuItemActive {
  background: vars.$color-button-hover;
  border-radius: 12px;
  width: 244px;
  height: 48px;
}

.profileBackground {
  background: vars.$color-card;
  border-radius: 24px;
  padding: 60px;
  width: 1020px;
  height: 752px;
  box-sizing: border-box;
}

.content {
  flex: 1;
}

.grid {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.fields {
  flex: 1;
  max-width: 520px;
}

.field {
  margin-bottom: 16px;
}

.label {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: vars.$color-text;
  margin-bottom: 4px;
  display: block;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 460px;
  height: 48px;
}

.inputChildrenIcon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.inputBirth {
  width: 218px;
}

.genderTrigger {
  width: 218px;
  height: 48px;
  border: 1px solid vars.$color-border-input;
  padding: 12px 20px;
  border-radius: 12px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.genderArrowIcon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.genderWrapper {
  position: relative;
  width: 218px;
}

// .genderMenu {
//   width: 100%;
//   font-family: Roboto, sans-serif;
//   color: vars.$color-text;
//   font-size: 16px;
//   line-height: 150%;
//   letter-spacing: 0.02em;
//   width: 218px;
//   padding: 4px 0;
// }

// .genderItem {
//   padding: 8px 12px;
//   cursor: pointer;
// }

.cityWrapper {
  position: relative;
  width: 460px;
}

.cityTrigger {
  width: 100%;
  height: 48px;
  padding: 12px 20px;
  border-radius: 12px;
  border: 1px solid vars.$color-border-input;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.changePassword {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: vars.$color-text-link;
  cursor: pointer;
  padding-top: 10px;
}

.birthGender {
  display: flex;
  gap: 24px;
}

.textareaWrapper {
  position: relative;
  width: 460px;
  height: 120px;

  textarea {
    width: 100%;
    height: 100%;
    padding: 12px 20px;
    border-radius: 12px;
    border: 1px solid vars.$color-border-input;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    line-height: 150%;
    letter-spacing: 0.02em;
    resize: none;
    box-sizing: border-box;
    vertical-align: top;
  }
}

.buttonSave {
  width: 460px;
}

.avatarWrapper {
  position: relative;
  width: 244px;
  height: 244px;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.avatarEditIcon {
  position: absolute;
  bottom: 0; // внизу
  right: 0;
  width: 56px;
  height: 56px;
  object-fit: contain;
  cursor: pointer;
}
