.likeEmpty {
  inline-size: 24px;
  block-size: 24px;

  &Path {
    fill: $color-text;
  }
}

.likePaintedOver {
  inline-size: 24px;
  block-size: 24px;

  &Path {
    fill: $color-accent;
    stroke: $color-accent;
  }
}
