.likeEmpty {
  inline-size: 24px;
  block-size: 24px;

  &Path {
    fill: $color-text;
  }

  &NonUser {
    fill: $color-disabled;
    stroke: $color-toggle;
  }
}

.likePaintedOver {
  inline-size: 24px;
  block-size: 24px;

  &Path {
    fill: $color-accent;
    stroke: $color-accent;
  }
}
